* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: poppins;
}

body {
	background: #164c82;
}

.wrapper {
width: 1170px;
margin:20px auto;
border: 1px solid;
}

nav {
	position: absolute;
	background: #262626;
	font-size: 16px;
}

nav > ul {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	width:1170px;
	margin: 0 auto;
	padding: 0;	
}

nav a {
	display:block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul li {
	color:#fff;
	list-style: none;
	transition: 0.5s;
}

ul img {
	width:85%;
}





