ww* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #f8f9f9;	/*  #f8f9f9 gray almost white, #EEEEEE light grey #4169E1 blue */
	font-family: Century Schoolbook FS;
	font-size: 19px;
	line-height: 150%;
}


figcaption {
	font-family: helvetica;
	text-align: center;
	font-size: 0.7em;
	padding: 0 140px 0 140px;
	color: 	#5D6063; /* #5D6063 dark grey, #696969 dim grey;*/
}

h1, h2, h3, h4 {
	padding: 60px 140px 1px 140px;
/*	border: 1px solid #5D6063;
    border-bottom: 1px solid red; */
}


p, table, dt {
	padding: 10px 140px 10px 140px;
}

p:last-of-type {
	border-bottom: 2px solid #EEEEEE; /*  #f8f9f9 gray almost white, #EEEEEE light grey #4169E1 blue */
	padding-bottom: 80px;
}


td {
	padding: 0 20px 0 0; /* Vertical  Horizontal */
}


ul, ol {
	padding: 10px 140px 10px 160px;
}

.code {
  overflow-x: auto;
	max-width: 1500px;
	font-family: monospace;  /* Courier, Courier New, Consolas, Lucida Console */
	font-size: 0.7em;
	color: #696969;
	background-color: #f8f9f9; /* #f8f9f9 gray almost white, #EEEEEE light grey #696969;  dim grey; */
/*	margin: 10px 200px; */
	margin: 10px 130px 10px 130px;
	padding-left: 1%;
	padding-right: 1%;
	line-height: 1.8;
}

.code-strong {
	font-family: monospace;
	font-weight: bold;
	color: black;
}

.code-blue {
	font-family: monospace;
	color: #6693E5; /* darkblue */
}

.code-green {
	font-family: monospace;
	color: green;
}

.code-grey {
	font-family: monospace;
	color: grey;
}

.code-grey-strong {
	font-family: monospace;
	font-weight: bold;
	color: grey;
}

.code-rust {
	font-family: monospace;
	color: #E59866; /* rusty red */
}

.chapter-next {
	text-align: right;
	font-family: monospace;
	padding: 70px 1px 0 140px;
	font-size: 20px;
	margin: 40px;
}


.note {
	color: red;

}

.notetran {
	color: #5D6063; /* #5D6063 dark grey, #696969 dim grey;*/
	font-size: 0.8em;
	padding: 10px 140px 10px 140px;
	line-height: 100%;
}


.pic-pages {
	/* width: 60%; */
	display: block;
	margin: auto;
}

.pic-index {
	width: 20%;
	display: block;
	margin: auto;
}

.title {
	text-align: center;
	font-family: monospace;
	font-size: 30px;
	padding: 20px 60px 30px 60px;  /* Top  Right  Bottom  Left */
/*	padding-top: 60px;
	padding-bottom: 20px;
	border: 2px solid red; */
	text-transform: uppercase;
}

.title-under {
	text-align: left;
	font-weight: bold;
	font-family: monospace;
	font-size: 24px;
	padding: 60px 140px 1px 140px;  /* Top  Right  Bottom  Left */
	text-transform: uppercase;
}


a:link {
color: blue;
text-decoration: none;
}
a:visited {
color: purple;
}
a:hover {
color: aqua;
color: underline;
}
a:active {
color: red;
}

a:visited:hover {
color: orange;
}

a:visited:active {
  color: red;
}

p:last-of-type {
  margin-bottom: 80px;
}


/* Стили для смарфонов */
@media only screen and (max-width: 400px) {
body {
background-color: #F09A9D; /* Красный */
}
}

/* Стили для планшетов */
@media only screen and (min-width: 401px) and (max-width: 960px) {
body {
background-color: #F5CF8E; /* Желтый */
}
}

/* Стили для ноутбуков и ПК */
@media only screen and (min-width: 961px) {
body {
background-color: #B2D6FF; /* Синий */
}
}
