
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f8f9f9;	/*  #f8f9f9 gray almost white, #EEEEEE light grey #4169E1 blue */
	font-family: Century Schoolbook FS;
	font-size: 15px;
	line-height: 175%;
}

h1, h2, h3, h4 {
	padding: 40px 80px 2px 80px;
	text-align: left;
/*	border: 1px solid #5D6063;
    border-bottom: 1px solid red; */
}


section {
	padding: 60px 140px 60px 140px; /* Vertical  Horizontal */
	border: 2px solid gold;
}

.page {
width: 900px;
margin: 0 auto;
border: 1px solid red;
overflow: hidden;
background-color: #EAEDF0;
}


.pic-index-right {
float: right;
margin-left: 10px;
margin-right: -10px;
/*
padding: 30px;*/
border: 2px solid red;
}

.pic-index-left {
float: left;
border: 2px solid blue;
}
