/*
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: arial;
}
*/


* {
box-sizing: border-box;
}


body {
background: #1c1b21;
color:#FAFAFA;
font-size: 55px;
font-family: 'Fira Sans', sans-serif;
}

.container {
border: 10px solid #6c38cc;
display:flex;
flex-flow: row wrap;
/* 
flex-direction: row;
flex-wrap: wrap;
*/
align-items: flex-start;
}

.item {
background: #232228;
border: 1px solid #6c38cc;
text-align:center;
width:calc(100% / 3);
padding:10px;
}
